h1 {
  font-family: "Trade Winds", "Verdana", sans-serif;
  font-size: 2.5em;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  color: red;
}

nav {
  font-family: "Trade Winds", "Verdana", sans-serif;
  font-size: 0.9em;
  padding: 10px;
  space-around: 10px;
  text-align: center;
  min-width: 500px;
  max-width: 100%;
}

div.title {
  background: #C70039;
  color: white;
  min-width: 500px;
  width: 100%;
  alignment: center;
  text-align: center;
  margin: auto;
}

div.intro {
  min-width: 300px;
  max-width: 500px;
  font-family: "Verdana", sans-serif;
  margin: auto;
}

div.green {
  width:50px;
  height:50px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
  display:inline-block;
  line-height:50px;
  text-align:center;
  color:#333;
  background-color:#6fb936;
}

p.boldintro {
  font-weight: bold;
  font-size: 1.5em;
}
  
img.monster {
  position: absolute;
  top: 0px;
  z-index: 99;
  overflow: hidden;
}

img.monban {
  position: absolute;
  top: 0px;
  z-index: 98;
}

aside {
  min-width: 50px;
}

button {
  background: #C70039;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
}